In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# State Vehicle Population Data (2010-2020)

### Statewide Vehicle Population by Fuel Economy

In [34]:
vehPop_raw = pd.read_csv('data/vehiclePop2021.csv')
vehPop_raw = vehPop_raw.iloc[2:14]
vehPop_raw.columns = vehPop_raw.loc[2]
vehPop_raw = vehPop_raw.loc[3::]
vehPop_raw = vehPop_raw.set_index('Data Year')
vehPop21 = vehPop_raw.drop(vehPop_raw.columns[10::], axis=1)
vehPop21

2,Bio Diesel,Diesel,Flex Fuel,Gasoline,Gasoline Hybrid,Hydrogen,Natural Gas,Propane
Data Year,,,,,,,,
2010,"1,364","433,102","428,089","21,032,279","384,883",14,"4,777",868
2011,"5,734","438,610","528,828","20,872,313","430,115",20,"5,764",820
2012,"10,768","448,230","618,418","20,902,351","496,864",26,"6,847",820
2013,"16,536","474,115","709,183","21,405,487","603,830",24,"8,094",881
2014,"22,992","501,126","817,338","21,737,732","701,945",38,"8,448",946
2015,"32,554","523,098","878,165","22,026,350","776,480",79,"8,500",895
2016,"45,554","543,318","948,746","22,661,954","860,599",854,"8,521",966
2017,"73,234","567,047","1,108,886","25,313,468","1,019,085","3,271","9,212","1,074"
2018,"96,686","561,171","1,122,312","25,377,093","1,060,166","5,525","8,910","1,063"
2019,"114,855","565,767","1,131,474","25,526,368","1,114,944","6,933","8,462","1,015"
2020,"134,834","565,532","1,144,536","25,021,380","1,155,477","7,129","7,676",897

### Statewide Vehicle Population and Metrics by County

In [35]:
vehPopCounty_raw = pd.read_csv('data/vehPopCounty.csv')
vehPopCounty = vehPopCounty_raw.replace(' ', np.nan)
vehPopCounty

,Data Year,County,Fuel Type,Make,Model,Number of Vehicles
0,2010,Alameda,Electric,Ford,Ranger,3
1,2010,Alameda,Electric,Tesla,Roadster,17
2,2010,Alameda,Bio Diesel,NaN,NaN,11
3,2010,Alameda,Diesel,NaN,NaN,"10,928"
4,2010,Alameda,Flex Fuel,NaN,NaN,"10,974"
...,...,...,...,...,...,...
18437,2020,Yuba,Flex Fuel,NaN,NaN,"2,935"
18438,2020,Yuba,Gasoline,NaN,NaN,"46,887"
18439,2020,Yuba,Gasoline Hybrid,NaN,NaN,"1,288"
18440,2020,Yuba,Natural Gas,NaN,NaN,5
18441,2020,Yuba,Propane,NaN,NaN,3

### Statewide Vehicle Data by Zip Code

In [36]:
vehPopZIP = pd.read_csv('data/vehPopZIP.csv')
vehPopZIP

        Data Year   Fuel Type    ZIP  Number of Vehicles
0            2010  Bio Diesel  90010                   3
1            2010  Bio Diesel  90019                   1
2            2010  Bio Diesel  90047                   1
3            2010  Bio Diesel  90058                   1
4            2010  Bio Diesel  90063                   1
...           ...         ...    ...                 ...
175286       2020     Propane  96130                   2
175287       2020     Propane  96145                   1
175288       2020     Propane  96150                   2
175289       2020     Propane  96158                   1
175290       2020     Propane  99999                   7

[175291 rows x 4 columns]

- Inventory of the data
- in carport directory, table of miles driven per year as a function of the age of cars 
    - predict how many cars are actually driven (given age)

-

### Statewide Vehicle Data on Mileage per year and Age

In [37]:
vehMilesTraveled = pd.read_csv('data/vehMilesTraveled.csv')
vehMilesTraveled

# averages and charts found in link: https://docs.google.com/spreadsheets/d/1s8fuuEM8-S4LRkuOFoSm1Pbd2u_9-4ozb0W-rD8EZCA/edit#gid=0

,Ownership,Fuel Type,Mileage,Age,Count,Number of Records
0,Household,FCEV,"<5,000",0-1 years old,2,1
1,Household,FCEV,"10,000-14,999",0-1 years old,39,1
2,Household,FCEV,"15,000-19,999",0-1 years old,11,1
3,Household,FCEV,"20,000-24,999",0-1 years old,3,1
4,Household,FCEV,"25,000+",0-1 years old,2,1
5,Household,FCEV,"5,000-9,999",0-1 years old,19,1
6,Household,FCEV,"<5,000",2-5 years old,7,1
7,Household,FCEV,"10,000-14,999",2-5 years old,97,1
8,Household,FCEV,"15,000-19,999",2-5 years old,34,1
9,Household,FCEV,"20,000-24,999",2-5 years old,15,1
10,Household,FCEV,"25,000+",2-5 years old,6,1
11,Household,FCEV,"5,000-9,999",2-5 years old,71,1
12,Household,ICE,"<5,000",0-1 years old,145,1
13,Household,ICE,"10,000-14,999",0-1 years old,207,1
14,Household,ICE,"15,000-19,999",0-1 years old,62,1
15,Household,ICE,"20,000-24,999",0-1 years old,31,1
16,Household,ICE,"25,000+",0-1 years old,29,1
17,Household,ICE,"5,000-9,999",0-1 years old,231,1
18,Household,ICE,"<5,000",2-5 years old,305,1
19,Household,ICE,"10,000-14,999",2-5 years old,611,1
20,Household,ICE,"15,000-19,999",2-5 years old,170,1
21,Household,ICE,"20,000-24,999",2-5 years old,106,1
22,Household,ICE,"25,000+",2-5 years old,130,1
23,Household,ICE,"5,000-9,999",2-5 years old,584,1
24,Household,ICE,"<5,000",6-10 years old,282,1
25,Household,ICE,"10,000-14,999",6-10 years old,459,1
26,Household,ICE,"15,000-19,999",6-10 years old,147,1
27,Household,ICE,"20,000-24,999",6-10 years old,60,1
28,Household,ICE,"25,000+",6-10 years old,81,1
29,Household,ICE,"5,000-9,999",6-10 years old,492,1
30,Household,ICE,"<5,000",>10 years old,1264,1
31,Household,ICE,"10,000-14,999",>10 years old,564,1
32,Household,ICE,"15,000-19,999",>10 years old,118,1
33,Household,ICE,"20,000-24,999",>10 years old,94,1
34,Household,ICE,"25,000+",>10 years old,117,1
35,Household,ICE,"5,000-9,999",>10 years old,901,1
36,Household,PEV,"<5,000",0-1 years old,19,1
37,Household,PEV,"10,000-14,999",0-1 years old,93,1
38,Household,PEV,"15,000-19,999",0-1 years old,26,1
39,Household,PEV,"20,000-24,999",0-1 years old,10,1
40,Household,PEV,"25,000+",0-1 years old,5,1
41,Household,PEV,"5,000-9,999",0-1 years old,72,1
42,Household,PEV,"<5,000",2-5 years old,28,1
43,Household,PEV,"10,000-14,999",2-5 years old,96,1
44,Household,PEV,"15,000-19,999",2-5 years old,27,1
45,Household,PEV,"20,000-24,999",2-5 years old,6,1
46,Household,PEV,"25,000+",2-5 years old,11,1
47,Household,PEV,"5,000-9,999",2-5 years old,85,1
48,Household,PEV,"<5,000",6-10 years old,11,1
49,Household,PEV,"10,000-14,999",6-10 years old,25,1
50,Household,PEV,"15,000-19,999",6-10 years old,7,1
51,Household,PEV,"20,000-24,999",6-10 years old,5,1
52,Household,PEV,"25,000+",6-10 years old,4,1
53,Household,PEV,"5,000-9,999",6-10 years old,23,1